.grid-container {
  margin: 20px;
}
.example-card {
  // max-width: 400px;
  --start: 15%;
  height: 130px;

  background-color: #ff4081;
  background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(219, 54, 211, 0.33) 10%, rgba(211, 54, 219, 0.33) 17%), linear-gradient(to right, #df1749, #c600af);
}


.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
 
  
  
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

table {
  width: 100%;
}
.title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}
.sub_title{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;

}
h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}